{% extends 'base.html' %}

{% block content %}
	<table class="table">
		<thead><strong>{{ car.model }}</strong></thead>
		<tbody>
		<tr><td><strong>Manufacturer: </strong> {{ car.manufacturer.name }}</td></tr>
		<tr><td><strong>Country: </strong>{{ car.manufacturer.country }}</td></tr>
			<tr><td><strong>Drivers:</strong></td></tr>
			{% if car.drivers.all %}
					{% for driver in car.drivers.all %}
						<tr><td>{{ driver.first_name }} {{ driver.last_name }}</td></tr>
						{% empty %}
						<tr><td>No drivers yet.</td></tr>
					{% endfor %}
			{% endif %}
		</tbody>
	</table>
{% endblock %}