{% block pagination %}
  {% if is_paginated %}
		<table class="table">
			<tbody class="pagination">
				{% if page_obj.has_previous %}
					<tr><td class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a></td></tr>
				{% endif %}
				<tr><td class="page-item active"><span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span></td></tr>
				{% if page_obj.has_next %}
					<tr><td class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></td></tr>
				{% endif %}
			</tbody>
			{% endif %}
		</table>
{% endblock %}